<div class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col py-4">
            <h1 class="menu whiteText">
                Main Menu
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col py-4">
            <h2 class="whiteText">
                Easy
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col pt-4 pb-5">
            <h2 class="whiteText">
                Hard
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col my-5 HTPLabel">
            <h2 class="whiteText">
                How To Play
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="HTP" class="d-block whiteText centerText">Once you select a difficulty, the game will begin.
                You will have 10 seconds to answer each of the 20 questions. See how many questions
                you can answer correctly! You will have 3 super stars that will count as an
                automatic correct answer, but use them wisely; <br> once a star is used, you can never use it again.
                <br>
                Good luck!</p>
        </div>
    </div>
</div>